.carousel{
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: auto auto;
}

.slide{
    width: 480px;
    height: 100%;
    margin: 0px 100px;

}

.carusel_card{
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: auto auto;

}
.carousel_media_{
    width: 200px;
    min-height: 300px;
    position: relative;
}
.carousel_media_ img{
    width: 100%;
    height: 100%;

}

.carusel_content{
    width: 270px;
    padding: 2px;
    min-height: 300px;
    text-align: justify;

}
.buttton_carusel{
    outline: none;
    border: none;
}
@media (max-width: 578px) {
    .carusel_card{
        display: block;
        height: 600px;
    }
    .carousel_media_{
        width: 100%;
        height: 300px;
    }
    .carusel_content{
        width: 100%;
        min-height: 300px
    }
    .carousel{
        height: 600px;;
    }
    .slide{
        margin: 5px;
    }
}

@media (max-width: 920px)and (min-width: 600px) {
    .carusel_card{
        display: block;
        height: 600px;
    }
    .carousel_media_{
        width: 100%;
        height: 300px;
    }
    .carusel_content{
        width: 100%;
        height: 300px
    }
    .carousel{
        height: 600px;;
    }
    .slide{
        margin: 20px;
    }
}
